.footer {
  padding-top: 45px;
  color: #d5d5d5;
  background-color: $color-dark;
  text-decoration: none;
  a {
    text-decoration: none;
    color: #6f6f6f;
    &:hover {
      color: $color-white;
    }
  }
  ul {
    padding: 0;
    list-style: none;
  }
  &-fifth {
    margin: 20px 0;
    text-align: center;
    a {
      color: $color-gray;
    }
  }
}
