.film-video {
  font-size: 1.2em;
  &__well {
    border: 1px solid $color-gray;
    border-radius: 0 0 4px 4px;
  }
  &__wrapper {
    &:not(:last-of-type) {
      margin-right: 15px;
    }
    white-space: nowrap;
  }
  &__badge {
    font-size: 0.8em;
  }
}

.film-comments-form {
  &__comment {
    min-height: 100px;
    min-width: 30%;
    max-width: 100%;
  }

  &__button {
    float: right;
  }
}
